<form [formGroup]="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
      (focus)="emailInputInFocus = true"
      (blur)="emailInputInFocus = false"
      [ngClass]="{
        invalid: !email.valid && email.touched
      }"
    />
    <div
      *ngIf="email.dirty && email.invalid && emailInputInFocus"
      class="alert alert-danger"
    >
      please type a valid email
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
      (focus)="passwordInputInFocus = true"
      (blur)="passwordInputInFocus = false"
      [ngClass]="{ invalid: !password.valid && password.touched }"
    />
  </div>
  <div
    *ngIf="password.dirty && password.invalid && passwordInputInFocus"
    class="alert alert-danger"
  >
    password must have at least 4 characters
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    (click)="handleSubmit()"
    [disabled]="!(password.valid && email.valid)"
  >
    Submit
  </button>
</form>
