<app-search></app-search>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link"
      id="nav-home-tab"
      [class.active]="isJrShown"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      (click)="isJrShown = true"
    >
      Juniors
    </button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-profile"
      [class.active]="!isJrShown"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
      (click)="isJrShown = false"
    >
      Seniors
    </button>
  </div>
</nav>
<div *ngIf="isJrShown" class="tab-content" id="nav-tabContent">
  <app-liste [cvs]="juniors | async"></app-liste>
</div>
<div *ngIf="!isJrShown" class="tab-content" id="nav-tabContent">
  <app-liste [cvs]="seniors | async"></app-liste>
</div>
