<section *ngIf="cv">
  <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="assets/images/{{cv.path | defaultImage}}" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{cv.firstname}} {{cv.name}}</h5>
            <p class="text-muted mb-1">{{cv.job}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-danger" (click)="delete()" >Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4" style="margin-top: 2%">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{cv.firstname}} {{cv.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Job</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{cv.job}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{cv.age}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">CIN</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{cv.cin}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
